<nav class="navbar">
  <a href="index.html" class="logo" aria-label="Kembali ke beranda">
    <img
      src="assets/images/logo/logokabinetstock.png"
      alt="Logo HIMAOSE"
      class="logo-image"
    />
    <span class="logo-text">HIMAOSE</span>
  </a>

  <div class="nav">
    <a href="index.html">Beranda</a>
    <a href="index.html#about">Tentang Kami</a>
    <a href="#">Program Kerja</a>
    <a href="#">Beasiswa Lomba</a>
    <a href="kontak.html">Kontak</a>
  </div>

  <div class="controls">
    <button class="btn-outline">Open Recruitment</button>
  </div>

  <a id="hamburger-menu"><i data-feather="menu"></i></a>
</nav>
